@charset "UTF-8"; 
h1{
    font-weight: 700;/*文字を太文字に*/
}
h2{
    font-size: 1.25em;
}
h2 span{
    font-size: 2em;
}
li{
    background: #ffffff;
    padding: 10px;
    width: 300px;
    border: 1px solid #cccccc;
}
body{
    background-color: #fbf9cc; /* 背景色を変える */
    background-image: url(“DSC_0365.jpg”);
}
