@charset "UTF-8"; 
h1{
    font-size: 1.75em;
}
h2{
    font-size: 1.25em;
}
p{
    font-size: 0.8em;
}
li{
    font-size: 0.8em;
}
body{
    background-color: #fbf9cc; /* 背景色を変える */
}
h3{
    font-size: 1.5em;
}
