@charset "UTF-8"; 
h1{
    font-weight: 700;/*文字を太文字に*/
}
h2{
    font-weight:bold;
    font-size:500%;
    color:#1aa;
    line-height: 1;
    padding: 3px;
    margin-right: 3px;
}
li{
    background: #ffffff;
    width: 300px;
    border: 1px solid #cccccc;
}
body{
    background-color: #fbf9cc; /* 背景色を変える */
    background-image: url(“photo1.jpg”);
}
